Repository nanophate/minirepo_sample_site: changes, and which CircleCI parameters are due for each by the changed paths.
All: public, sample

Check detect will happen
  app/public/index.html
Due: public

Add continue config yml
  .circleci/config.yml
Due: none

seperate pathfilter setup and config
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

Check for detected public file
  app/public/index.html
Due: public

Check what happens with workflow
  app/public/index.html
  app/sample/index.html
Due: public, sample

If same job is run what happens
  .circleci/continue-config.yml
  app/public/index.html
  app/sample/index.html
Due: public, sample

Update continue-config.yml
  .circleci/continue-config.yml
Due: none

Update index.html
  app/sample/index.html
Due: sample

chna
  app/public/index.html
  app/sample/index.html
Due: public, sample

Update config.yml
  .circleci/config.yml
Due: none

change is apply
  app/public/index.html
Due: public

Path conditions:
  public: any of: app/public/.*
  sample: any of: app/sample/.*
